<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574341232977-m5m563eoj1epb4323lcb1679n3nk6jlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574341232977-m5m563eoj1epb4323lcb1679n3nk6jlv</string>
	<key>API_KEY</key>
	<string>AIzaSyAO2oRq0w4_0QP41xABZ3qA1FqPCQf84UY</string>
	<key>GCM_SENDER_ID</key>
	<string>574341232977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IksangYoo.RisingTest-Instagram-kkukku</string>
	<key>PROJECT_ID</key>
	<string>risingtest-kkukku-instagarmc</string>
	<key>STORAGE_BUCKET</key>
	<string>risingtest-kkukku-instagarmc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574341232977:ios:39cae3ed4bc353f693bb70</string>
</dict>
</plist>